* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
header,
footer {
  display: grid;
  align-content: center;
  justify-content: center;
  color: honeydew;
  background-image: linear-gradient(
    to right top,
    #051937,
    #014269,
    #007199,
    #00a4c5,
    #0dd9e8
  );
}
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}

.main {
  grid-area: main;
  display: grid;
  align-content: center;
  justify-content: center;
}
